# Node modules
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
dist/
build/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/

# MongoDB dumps
dump/
